.news-card {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Garante que o conteúdo não ultrapasse o card */
  display: flex; /* Usar flexbox para alinhar a imagem e o texto lado a lado */
  align-items: flex-start; /* Alinha o conteúdo ao topo do card */
}

.news-card img {
  width: 30%;
  height: auto;
  border-right: 1px solid #ccc; /* Adiciona uma borda à direita da imagem para separação */
  margin-right: 20px; /* Espaçamento entre a imagem e o texto */
}

.news-card-content {
  flex: 1; /* Faz com que o conteúdo ocupe o espaço restante */
}

.news-card h3 {
  font-family: 'Uncial Antiqua', cursive;
  margin: 0 0 10px; /* Remove a margem superior e adiciona margem inferior */
  color: #000000;
}

.news-card p {
  font-family: 'MedievalSharp', cursive;
  margin: 0;
  color: #000000;
}
