.sidebar {
    width: 250px;
    background-color: #343a40;
    color: #ffffff;
    transition: transform 0.3s ease;
    transform: translateX(-100%); /* Inicialmente escondido */
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
  }
  
  .sidebar.show {
    transform: translateX(0); /* Mostra a sidebar */
  }
  
  .sidebar.hide {
    transform: translateX(-100%); /* Esconde a sidebar */
  }
  
  .sidebar nav {
    margin-top: 50px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 1px solid #495057;
  }
  
  .sidebar li:hover {
    background-color: #495057;
  }
  
  .sidebar a {
    text-decoration: none;
    color: #ffffff;
  }
  
  .toggle-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.5rem;
  }
  
  @media (min-width: 768px) {
    .sidebar {
      display: none; /* Esconde a sidebar em telas maiores */
    }
  }
  